<!DOCTYPE html>

<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Layout</title>
      <link rel="stylesheet" href="estilos.css">
</head> 
    

<body>
    <main>
        <header>BARRA DE HERRAMIENTAS</header>
        <section class="caja-secundaria">
            <Section class="caja-contsec">
                <article>
                    <p>CONTENIDO</p>
                    <p>SECUNDARIO</p>   
                    
                </article>
            </Section>
            <section class="caja-subbarra">
                <section>
                    <article>                     
                        <p>SUB BARRA DE HERRAMIENTAS</p>
                    </article>
                    <section></section>
                </section>       
            </section>
        </section>
    </main>
</body>     
</html>